---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="sobre mi">
  <div class="about-wrapper">
    <header class="about__header">
      <h1 class="title title--xlg">sobre mi</h1>
    </header>
  </div>
</Layout>
