---
import Layout from "@/layouts/Layout.astro";
import BentoGrid from "@/components/BentoGrid.astro";
import SocialLinks from "@/components/SocialLinks.astro";
---

<Layout
  title="peks"
  description="Hola! esta es mi web para mostrar mi relacion con el desarrollo web"
  socialTitle="Peks developer"
>
  <header>
    <h1 class="title title--xlg">hola! soy <span class="yellow">peks</span></h1>
  </header>
  <BentoGrid />
  <SocialLinks />
</Layout>

<style>
  h1 {
    font-size: 4rem;
  }
</style>
