---
import Layout from "@/layouts/Layout.astro";
import Download from "@/components/icons/Download.astro";
import CollageIcons from "@/components/CollageIcons.astro";

//icons
import MailIcon from "@/components/icons/MailIcon.astro";
import InstagramIcon from "@/components/icons/InstagramIcon.astro";
import GithubIcon from "@/components/icons/GithubIcon.astro";
---

<Layout
  title="peks"
  description="Hola! esta es mi web para mostrar mi relacion con el desarrollo web"
  socialTitle="Peks developer"
>
  <header>
    <h1 class="title title--xlg">hola! soy <span class="yellow">peks</span></h1>
  </header>
  <div class="grid">
    <picture class="grid-item logo">
      <img src="/assets/peks-logo.png" alt="peks logo" />
    </picture>
    <a
      class="grid-item projects"
      href="/projects"
      id="projects"
      transition:name="projects"
    >
      <CollageIcons />
    </a>
    <div class="grid-item text">
      <p>
        <span class="yellow">Desarrollador web front-end</span><br /> apacionado
        por la tecnologia, el <br /> basketball y el nomadismo
      </p>
    </div>
    <a class="grid-item about" href="/about" transition:name="about-section">
      <img
        src="/assets/about/peks.webp"
        alt="peks sonriendo con un balon"
        transition:name="peks-img"
      />
    </a>
    <a class="grid-item cv" href="/assets/cv.pdf" download="cv.pdf"
      >CV
      <div class="cv__icon">
        <Download />
      </div></a
    >
  </div>
  <ul class="social-icons">
    <li class="social-icon__item">
      <a href="mailto:0peks0@proton.me" class="social-icon__link">
        <MailIcon />
      </a>
      <li class="social-icon__item">
        <a
          href="https://github.com/peks-dev"
          class="social-icon__link"
          target="_blank"
        >
          <GithubIcon />
        </a>
        <li class="social-icon__item">
          <a
            href="https://www.instagram.com/lpeksl?igsh=cXF6NjhnZ2t2MGt6&utm_source=qr"
            class="social-icon__link"
            target="_blank"
          >
            <InstagramIcon />
          </a>
        </li>
      </li>

      <style>
        h1 {
          font-size: 4rem;
        }
        .grid {
          display: grid;
          grid-template-columns: 1fr 0.5fr 1fr;
          grid-template-rows: repeat(3, 1fr);
          gap: 2rem;
          width: 100%;
          height: 75%;
          max-width: 70rem;
        }
        .grid-item {
          border-radius: 0.5rem;
          border: 0.2rem solid var(--ternary);
          background-color: var(--primary);
          max-height: 30rem;
          overflow: hidden;
          color: var(--ternary);
        }
        /* interactions */
        .grid-item:hover {
          border-color: var(--accent);
          color: var(--accent);
          box-shadow: 0px 0px 20px 1px #f2d07a3f;
        }

        .logo {
          grid-column: 1 / 2;
          grid-row: 1 / 2;
        }
        .logo img {
          height: 100%;
          object-fit: contain;
        }
        .projects {
          grid-column: 2 / 4;
          grid-row: 1 / 2;
          position: relative;
          color: var(--ternary);
        }
        .text {
          grid-column: 1/ 4;
          grid-row: 2 / 3;
          display: grid;
          place-content: center;
        }
        .text p {
          font-size: 2rem;
          text-align: center;
          color: var(--contrast);
        }
        .about {
          grid-column: 1/3;
          grid-row: 3/ 4;
          position: relative;
        }
        .about img {
          height: 100%;
          object-position: top;
        }
        .cv {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-family: var(--headings);
          font-size: 4rem;
          font-weight: bold;
          color: var(--ternary);
        }
        .cv__icon {
          height: 6rem;
        }

        .projects::before,
        .about::before {
          display: block;
          position: absolute;
          background-color: var(--ternary);
          color: var(--primary);
          padding: 0.7rem 1.4rem;
          font-family: var(--headings);
          font-size: 2.3rem;
          text-transform: uppercase;
          z-index: 2;
        }
        .projects::before {
          content: "Proyectos";
          top: 0;
          right: 0;
          border-radius: 0 0 0 0.5rem;
        }
        .about::before {
          content: "Sobre mi";
          bottom: 0;
          left: 0;
          border-radius: 0 0.5rem 0 0;
        }

        .projects:hover.projects::before,
        .about:hover.about::before {
          background-color: var(
            --accent
          ) !important; /* Replace with your color */
        }

        .social-icons {
          width: min(60%, 250px);
          display: flex;
          justify-content: space-around;
        }
        .social-icon__item {
          width: 4rem;
          color: var(--accent);
        }

        .social-icon__item:hover {
          filter: drop-shadow(0px 0px 10px #f2d07a3f);
        }

        .social-icon__item:active {
          transform: scale(1.1);
        }
      </style>
    </li>
  </ul>
</Layout>
