---
interface Props {
  text?: string;
  type: "button" | "submit";
  titleRule: string;
  selectorCss?: string;
}

const { text, type, titleRule, selectorCss } = Astro.props;
---

<button type={type} title={titleRule} class={selectorCss}>
  <slot />
  {text}
</button>

<style>
  button {
    background-color: var(--accent);
    border-radius: 1.2rem;
    color: var(--ternary);

    min-width: 5rem;
    width: min-content;
    min-height: 3rem;
    padding: 0 1rem;
  }

  button:active {
    transform: scale(1.1);
  }

  button:hover {
    color: var(--primary);
  }

  .btn--proyects {
    width: 6rem;
  }
</style>
