---
interface Props {
  title: string;
}

const { title } = Astro.props;
import { ViewTransitions } from "astro:transitions";
import "@/styles/global.css";
import "@/styles/reset.css";
import "@/styles/headings.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <meta name="generator" content={Astro.generator} />

    <ViewTransitions />
    <title>{title}</title>
  </head>

  <body>
    <main>
      <slot />
    </main>
    <style is:global>
      body {
        height: 100vh;
        width: 100vw;
        padding: 1rem;
      }
      main {
        border-radius: 1rem;
        width: 100%;
        height: 100%;
        margin: auto;
        background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(210, 5%, 15%, 1)'/><path d='M50 44.124l-5.845 5.863-8.279.013-5.863-5.845L30 35.876l5.845-5.863L44.124 30l5.863 5.845zM42.5 1.03l-1.461 1.466-2.07.003-1.466-1.461-.003-2.07 1.461-1.466 2.07-.003 1.466 1.461zM50 4.124l-5.845 5.863-8.279.013-5.863-5.845L30-4.124l5.845-5.863L44.124-10l5.863 5.845zM2.5 41.03l-1.461 1.466-2.07.003-1.466-1.461-.003-2.07 1.461-1.466 2.07-.003 1.466 1.461zm7.5 3.093l-5.845 5.863-8.279.013-5.863-5.845-.013-8.279 5.845-5.863L4.124 30l5.863 5.845zM2.5 1.03L1.039 2.497l-2.07.003-1.466-1.461-.003-2.07 1.461-1.466 2.07-.003 1.466 1.461zM10 4.124L4.155 9.987-4.124 10l-5.863-5.845L-10-4.124l5.845-5.863L4.124-10l5.863 5.845zM22.5 21.03l-1.461 1.466-2.07.003-1.466-1.461-.003-2.07 1.461-1.466 2.07-.003 1.466 1.461zm7.5 3.093l-5.845 5.863-8.279.013-5.863-5.845L10 15.876l5.845-5.863L24.124 10l5.863 5.845zM42.5 41.03l-1.461 1.466-2.07.003-1.466-1.461-.003-2.07 1.461-1.466 2.07-.003 1.466 1.461z'  stroke-linecap='square' stroke-width='1' stroke='hsla(37, 72%, 54%, 0.2784313725490196)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
        display: flex;
        flex-direction: column;
        gap: 4rem;
        align-items: center;
        justify-content: start;
        padding: 2rem 1rem;
      }
    </style>
  </body>
</html>
